@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_awabh9ge4tb.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_awabh9ge4tb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_awabh9ge4tb.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_awabh9ge4tb.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_awabh9ge4tb.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_awabh9ge4tb.svg#站酷小薇体') format('svg'); /* iOS 4.1- */
  }
  .web-font{
    font-family:"webfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }